.castlePane{
    -fx-background-image: url("/castle/castle-desaturato.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 290, 675;
    -fx-opacity: 1;
    -fx-background-position: center center;
}

.show{
    -fx-background-color: blue;
    -fx-opacity: 0.5;
}

#islandsPane{
    -fx-background-color: lightblue;
}

#cardsFlowPane, #charFlowPane{
    -fx-background-color: lightblue;
}

#castleFlowPane{
    -fx-background-image: url("/castle/proposta-sfondo.jpg");
    -fx-background-size: 600, 600;
}

.island{
    -fx-background-image: url("/islands/island-desaturato.png");
    -fx-background-size: 220, 220;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.username{
    -fx-font-size: 20px;
}

.blockedIsland{
    -fx-background-image: url("/islands/island-blocked.jpg");
}

.cloud{
    -fx-background-image: url("/clouds/cloud_card.png");
    -fx-background-size: 180, 180;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.student{
    -fx-background-size: 25, 25;
    -fx-opacity: 1;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.coin{
    -fx-background-size: 50, 50;
    -fx-opacity: 1;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.teacher{
    -fx-background-size: 35, 35;
    -fx-opacity: 1;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.tower{
    -fx-background-size: 50, 50;
    -fx-opacity: 1;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.motherNature{
    -fx-background-size: 35, 35;
    -fx-opacity: 1;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-image: url("/motherNature/mother_nature.png");
}

.coinBackground{
    -fx-background-image: url("/coin/coin.png");
}

.cardCharacterMonk{
    -fx-background-image: url("/characters/monk.jpg");
}
.cardCharacterFarmer{
    -fx-background-image: url("/characters/farmer.jpg");
}
.cardCharacterGuard{
    -fx-background-image: url("/characters/guard.jpg");
}
.cardCharacterMailman{
    -fx-background-image: url("/characters/mailman.jpg");
}
.cardCharacterWitch{
    -fx-background-image: url("/characters/witch.jpg");
}
.cardCharacterCentaur{
    -fx-background-image: url("/characters/centaur.jpg");
}
.cardCharacterJester{
    -fx-background-image: url("/characters/jester.jpg");
}
.cardCharacterKnight{
    -fx-background-image: url("/characters/knight.jpg");
}
.cardCharacterCook{
    -fx-background-image: url("/characters/cook.jpg");
}
.cardCharacterStoryteller{
    -fx-background-image: url("/characters/storyteller.jpg");
}
.cardCharacterQueen{
    -fx-background-image: url("/characters/queen.jpg");
}
.cardCharacterTaxman{
    -fx-background-image: url("/characters/taxman.jpg");
}

.studentBackgroundBlue{
    -fx-background-image: url("/students/student_blue.png");
}

.studentBackgroundRed{
    -fx-background-image: url("/students/student_red.png");
}

.studentBackgroundYellow{
    -fx-background-image: url("/students/student_yellow.png");
}

.studentBackgroundPink{
    -fx-background-image: url("/students/student_pink.png");
}

.studentBackgroundGreen{
    -fx-background-image: url("/students/student_green.png");
}

.teacherBackgroundBlue{
    -fx-background-image: url("/teachers/teacher_blue.png");
}

.teacherBackgroundRed{
    -fx-background-image: url("/teachers/teacher_red.png");
}

.teacherBackgroundYellow{
    -fx-background-image: url("/teachers/teacher_yellow.png");
}

.teacherBackgroundPink{
    -fx-background-image: url("/teachers/teacher_pink.png");
}

.teacherBackgroundGreen{
    -fx-background-image: url("/teachers/teacher_green.png");
}

.assistant, .character{
    -fx-background-size: 111, 200;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.assistant-small{
    -fx-background-size: 69.375, 125;
}

.cardAssistant1{
    -fx-background-image: url("/cards/Assistente1.png");
}

.cardAssistant2{
    -fx-background-image: url("/cards/Assistente2.png");
}

.cardAssistant3{
    -fx-background-image: url("/cards/Assistente3.png");
}

.cardAssistant4{
    -fx-background-image: url("/cards/Assistente4.png");
}

.cardAssistant5{
    -fx-background-image: url("/cards/Assistente5.png");
}

.cardAssistant6{
    -fx-background-image: url("/cards/Assistente6.png");
}

.cardAssistant7{
    -fx-background-image: url("/cards/Assistente7.png");
}

.cardAssistant8{
    -fx-background-image: url("/cards/Assistente8.png");
}

.cardAssistant9{
    -fx-background-image: url("/cards/Assistente9.png");
}

.cardAssistant10{
    -fx-background-image: url("/cards/Assistente10.png");
}

.towerBlack{
    -fx-background-image: url("/towers/black_tower.png");
}

.towerWhite{
    -fx-background-image: url("/towers/white_tower.png");
}

.towerGrey{
    -fx-background-image: url("/towers/grey_tower.png");
}

.student:selected{
    -fx-border-color: black;
    -fx-border-width: 1;
}

.selected{
    -fx-border-color: black;
    -fx-border-width: 1;
}