#castlePane{
    -fx-background-image: url("/castle/castle.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 290, 675;
    -fx-opacity: 1;
    -fx-background-position: center center;
}

#islandsPane{
    -fx-background-color: lightblue;
}

#cardsHBox{
    -fx-background-color: lightblue;
}

.island{
    -fx-background-image: url("/islands/island1.png");
    -fx-background-size: 220, 220;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.cloud{
    -fx-background-image: url("/clouds/cloud_card.png");
    -fx-background-size: 180, 180;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.student{
    -fx-background-size: 25, 25;
    -fx-opacity: 1;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 3em;
    -fx-background-color: transparent;
}

.studentBackgroundBlue{
    -fx-background-image: url("/students/student_blue.png");
}

.studentBackgroundRed{
    -fx-background-image: url("/students/student_red.png");
}

.studentBackgroundYellow{
    -fx-background-image: url("/students/student_yellow.png");
}

.studentBackgroundPink{
    -fx-background-image: url("/students/student_pink.png");
}

.studentBackgroundGreen{
    -fx-background-image: url("/students/student_green.png");
}

.assistant{
    -fx-background-size: 111, 200;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.cardAssistant1{
    -fx-background-image: url("/cards/Assistente1.png");
}

.cardAssistant2{
    -fx-background-image: url("/cards/Assistente2.png");
}

.cardAssistant3{
    -fx-background-image: url("/cards/Assistente3.png");
}

.cardAssistant4{
    -fx-background-image: url("/cards/Assistente4.png");
}

.cardAssistant5{
    -fx-background-image: url("/cards/Assistente5.png");
}

.cardAssistant6{
    -fx-background-image: url("/cards/Assistente6.png");
}

.cardAssistant7{
    -fx-background-image: url("/cards/Assistente7.png");
}

.cardAssistant8{
    -fx-background-image: url("/cards/Assistente8.png");
}

.cardAssistant9{
    -fx-background-image: url("/cards/Assistente9.png");
}

.cardAssistant10{
    -fx-background-image: url("/cards/Assistente10.png");
}

.student:selected{
    -fx-border-color: black;
    -fx-border-width: 1;
}